<!doctype html>
<html ng-app="autohack">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    Autoquiz
  </title>
  <meta name="description" content="Chestionare auto cu toate intrebarile">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
  <link href="//fonts.googleapis.com/css?family=Orbitron:400,500,700,900" rel="stylesheet" type="text/css">


  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css">

  <!-- build:css({.tmp,app}) /styles/app.css -->
  <link rel="stylesheet" href="/styles/app.css">
  <!-- endbuild -->
  
</head>
<body ng-controller="TopCtrl">

  <!--[if lt IE 9]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <div class="container-fluid">
    {{> body }}
  </div>
  <!-- build:js(app) /scripts/plugins-app.js -->
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-touch/angular-touch.js"></script>
  <script src="/bower_components/angular-route/angular-route.js"></script>
  
  <script src="/bower_components/momentjs/moment.js"></script>
  
  <script src="/bower_components/momentjs/moment.js"></script>
  <!-- endbuild -->

  <!-- build:js({.tmp,app}) /scripts/app.js -->
  <script src="/scripts/app.js"></script>
  <script src="/scripts/directives/fileread.js"></script>
  <script src="/scripts/directives/payment.js"></script>
  <script src="/scripts/controllers/top.js"></script>
  <script src="/scripts/controllers/all-questions.js"></script>
  <script src="/scripts/controllers/list-questions.js"></script>
  <script src="/scripts/services/data.js"></script>
  <!-- endbuild -->

</body>
</html>
