---
layout: site.html
---

<div class="page-content container-narrow">
  <h1 class="blog-head">
    <a href="/blog">
      Blog
    </a>
  </h1>
</div>

<div class="page-content container-narrow">

  <article class="row post">

    <div class="col-sm-12">

      {{#if page.data.posted}}
        <div class="post-meta">
          Postat pe data de
          <time datetime="{{ page.data.posted }}">
            {{formatDate page.data.posted "%d %B, %Y"}}
          </time> 

          |

          <a href="/blog">
            &laquo; Inapoi
          </a>
        </div>
      {{/if}}

      {{#if page.data.picture}}
        <img src="{{ page.data.picture}}" class="post-picture">
      {{/if}}

      {{#if title}}

        <h1 class="post-title">
          {{ title }}
        </h1>

      {{/if}}

      {{> body}}

    </div>

  </article>

</div>