/* Adsavvy
 * Bootstrap theme
 */

/* Bourbon
 */
@import "../bower_components/bourbon/dist/bourbon";

/* Utils
 */
@import "utils";

/* Variables
 */

$brand-primary: $color1;
$brand-success: $color2;
$brand-info: #9b59b6;
$brand-warning: #f1c40f;
$brand-danger: #e64c3c;

$border-radius-base: 2px;
$border-radius-large: 4px;
$border-radius-small: 0px;

$padding-base-vertical: 8px;
$padding-base-horizontal: 16px;

$padding-large-vertical: 16px;
$padding-large-horizontal: 24px;

$padding-small-vertical: 8px;
$padding-small-horizontal: 16px;

$padding-xs-vertical: 5px;
$padding-xs-horizontal: 9px;

/* Bootstrap
 */
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";

/* General
 */

body {
  background: $colorBg;
}

