/* Adsavvy app
 */

/* Bourbon
 */
@import "../bower_components/bourbon/dist/bourbon";

/* Utils
 */
@import "utils";

/* Bootstrap Theme*/

@import "theme";

/* General
 */

html {
  height: 100%;

  body {
    height: 100%;
  }
}

.container-fluid {
  height: 100%;
  margin: 0;

  >.row,
  .app-content {
    height: 100%;
    position: relative;
  }
}

/* Sidebar
 */

.container-fluid {

  @include breakpoint(papa-bear) {
    padding-left: 18%;
  }

}

.sidebar {
  padding: 30px 15px;
  background: darken($color1, 15%);

  .btn-reset {
    position: static;
    
  }

  @include breakpoint(papa-bear) {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow: auto;
    z-index: 9;

    box-shadow: 2px 0 8px rgba(#000, .12);
  }
}

.logo {
  display: block;
  margin: 0 0 20px;

  img {
    max-width: 92%;
  }
}

.nav-stacked {
  padding-top: 20px;
  margin: 0 -15px;

  > li > a {
    @include clearfix;
    padding: 12px 15px;
    border-radius: 0;

    color: lighten($color1, 60%);
    font-size: 14px;

    &:hover,
    &:focus {
      background: darken($color1, 12%);
    }

    &.btn {
      color: #333;
      font-size: 11px;
      display: block;
      width: 90%;
      margin: 0 auto;
      border-radius: 4px;

      &:hover {
        background: darken(#fff, 12%);
      }
    }
  }
}

.sub-nav {
  overflow: hidden;
  height: 0;
  opacity: 0;
  padding: 0;

  @include transform-origin(left top);
  @include transform(scale(0));

  @include transition(all 0.3s $ease-out-quint);

  a {
    display: block;
    padding: 10px 10px 10px 40px;

    color: #fff;
    font-weight: bold;

    &:focus,
    &:hover {
      background: darken($color1, 12%);
    }
  }
}

.main-nav a {
  position: relative;
  cursor: pointer;

  &:focus,
  &:hover,
  &:active {
    text-decoration: none;
  }
}

.cat-symbol {
  display: inline-block;
  width: 26px;
  height: 26px;
  padding: 4px;
  margin: -2px 0 0 4px;
  border-radius: 100%;
  border: 2px solid lighten($color1, 70%);

  color: #fff;
  font-weight: bold;
  font-size: 16px;
  line-height: 14px;
  text-align: center;
  vertical-align: middle;
}

.cat-b .cat-symbol {
  border-color: #2ECC71;
  color: #2ECC71;
}

.cat-c .cat-symbol {
  border-color: #F4D03F;
  color: #F4D03F;
}

.cat-d .cat-symbol {
  border-color: #F5AB35;
  color: #F5AB35;
}

.main-nav .menu-icon,
.main-nav .fa-angle-down {
  position: absolute;
  right: 16px;
  top: 12px;
  opacity: .4;

  font-size: 20px;

  @include transition(all 0.3s $ease-out-quint);
}

.main-nav .fa-angle-down {
  opacity: .2;

  font-size: 22px;
  font-weight: bold;
}

$cat-list: a, b, c, d;

@each $cat in $cat-list {

  .main-nav-cat-#{$cat} .cat-#{$cat} {
    background: darken($color1, 10%);

    .fa {
      @include transform(rotate(180deg));
    }

    .sub-nav {
      height: 80px;
      opacity: 1;

      @include transform(scale(1));
    }
  }

}

.btn-reset {
  display: block;
  margin: 12px auto;

  font-size: 13px;

  .fa {
    opacity: .4;
  }
}

h2.nav-title {
  color: #FFF;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  position: relative;
  left: -15px;
  width: 111%;
  padding: 10px 0 10px 15px;
  margin: 26px 0 0 0;
  background: rgba(0,0,0, .2);
  border-top: 1px solid darken($color1, 10%);
  border-bottom: 1px solid darken($color1, 10%);
}

.quiz-question {
  padding: 40px 0 0 40px;
  height: 100%;

  .image {
    text-align: center;
    margin: 0 0 30px;
  }
}

h2.question {
  position: relative;
  margin: 0 0 30px;
  padding: 0 10px;

  text-align: left;

  span.fa {
    color: rgb(231, 221, 99);

    &:hover {
      cursor: pointer;
    }
  }
}

.question-index {
  position: absolute;
  left: -36px;
  top: 0;
  background: darken($colorBg, 8%);
  width: 32px;
  height: 32px;
  border-radius: 100%;

  color:  darken($colorBg, 32%);
  font-size: 11px;
  font-weight: bold;
  line-height: 32px;
  text-align: center;
}

.answers {
  list-style-type: none;
  padding: 0;
  margin: 0 auto 30px;
  font-size: 20px;

  li {
    margin: 0 0 10px;
    padding: 5px 0 5px 10px;
  }

  li.selected {
    background: rgb(75, 167, 101);
    color: #fff;
  }
}


.set-answers {
  text-align: center;
  margin: 0 0 20px;

  .btn {
    margin: 0 10px;
  }
}

.buttons {
  text-align: center;
  margin-bottom: 30px;
  position: relative;

  a.prev,
  a.next {
    position: absolute;
    font-size: 22px;
    display: block;
    top: 0;
    padding: 10px 16px;
  }

  a.prev {
    left: 0;
  }
  a.next {
    right: 0;
  }
}

.alert-custom {
  color: #fff;
  padding: 10px 0;
  border-radius: 5px;
  border: 1px solid;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;

  p {
   margin: 0; 
  }

  &.alert-custom-danger {
    background: $colorFail;
    border: 2px solid darken($colorFail, 10%);
    
  }
  
  &.alert-custom-success {
    background: $colorSuccess;
    border: 2px solid darken($colorSuccess, 10%);

  }
}


/* Legislation page
*/

.legis {
  li {
    margin-bottom: 10px;
  }
  ul {
    padding-top: 10px;
  }
}

/* Filters page
*/

.filters {
  .selected {
    background: darken($color1, 8%);
  }
}

/* Quiz statistics
*/
.toolbar {
  @include clearfix;
  position: absolute;
  top: 0;
  background: #fff;
  width: 90%;
  box-shadow: rgba(0,0,0,.6) 0px 1px 1px;
  z-index: 15;
  text-align: center;

  .separator {
    display: inline-block;
    padding: 5px 10px;
    border-right: 1px solid #ccc;
    &:last-child {
      border-right: 0;
    }
  }

  .fa-check {
    color: $colorSuccess;
  }

  .fa-times {
    color: $colorFail;
  }
}

.splash {
  position: absolute;
  width: 100%;
  height: 100%;
  background: $colorBg;
  left: 0;
  top: 0;
  z-index: 16;
  padding: 16px 0 0 30px;
}

.seen {
  color: gray;
}
.corect {
  color: $colorSuccess;
}
.incorect {
  color: $colorFail;
}

/* Questions list
*/

.list {
  height: 100%;
  position: relative;
}
.search {
  margin-top: 17px;

  .form-group {
    position: relative;

    span.fa-search {
      position: absolute;
      right: 10px;
      top: 8px;
      color: #C0C0C0;
      font-size: 20px;
    }
  }
}

.tags-col {
  height: 100%;
  padding-left: 0;
}

.tags {
  height: 100%;
  padding: 28px 30px 0 15px;
  position: fixed;
  background: #fff;
  box-shadow: rgba(0,0,0, .2) 2px -1px 3px;
  max-width: 200px;

  label {
    font-weight: normal;
  }
  .btn-reset {
    
  }
}
.questions-list {
  clear: both;
}

















