/* Adsavvy app
 */

/* Bourbon
 */
@import "../bower_components/bourbon/dist/bourbon";

/* Globals
 */
$color1: #2854a1;
$color2: lighten(saturate($color1, 40%), 20%);

/* Utils
 */
@import "utils";

/* Bootstrap Theme
 */
@import "theme";

$blackColor: #2c3e50;
$orangeColor: #e05430;


html {
  height: 100%;
  body {
    height: 100%
  }
}

.answers {
  li.selected {
    background: rgb(228, 253, 228);
  }
}