/* Addsavvy website
 */

/* Bourbon
 */
@import "../bower_components/bourbon/dist/bourbon";

/* Globals
 */
$color1: #2854a1;
$color2: lighten(saturate($color1, 40%), 20%);


.tmp-header {
  text-align: center;
  margin: 50px 0 0;

  img.logo {
    display: inline-block;
    margin: 0 0 130px;
  }
}
.logo {
  /*font-family: $orbitron;*/
  
}

/* Utils
 */
@import "utils";

/* Bootstrap Theme
 */
@import "theme";

//@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";
