/* Autoquiz website
 */

/* Bourbon
 */
@import "../bower_components/bourbon/dist/bourbon";

/* Utils
 */
@import "utils";

/* Bootstrap Theme
 */
@import "theme";

/* General
 */

img {
  max-width: 100%;
}

.container-narrow {
  max-width: emCalc(700);
  margin: 0 auto;
}

/* Header
 */

.header {
  padding: emCalc(60) 0 0;

  li a {
    margin: 0 0 0 10px;
    border-width: 0 0 3px;
    border-style: solid;
    border-color: transparent;

    font-size: emCalc(14);
    font-weight: bold;
    line-height: 60px;
    text-transform: uppercase;

    &:hover {
      border-color: lighten(desaturate($color1, 28%), 32%);

      text-decoration: none;
    }
  }

}

/* Promo
 */

.promo-home {
  padding: 0;
  margin: emCalc(100) 0 emCalc(120);
  background: none;

  text-align: center;

  h1 {
    margin: 0 0 emCalc(4);
  }

  p {
    margin: 0 0 emCalc(20);

    color: darken($colorBg, 60%);
  }

  .btn {
    position: relative;
    padding-left: emCalc(36);

    font-size: emCalc(20);
    font-weight: bold;

    i {
      position: absolute;
      top: 50%;
      left: emCalc(6);
      margin-top: emCalc(-8);
      opacity: .8;

      font-size: emCalc(24);
    }
  }
}

/* Features
 */

.features {
  margin: 0 0 emCalc(80);

  .feature-box {

    text-align: center;

    .fa {
      margin: 0 0 emCalc(16);
      padding: emCalc(16);
      background-color: $color2;
      border-radius: 100%;

      color: #fff;
      font-size: emCalc(24);
    }

    h4 {
      margin: 0 0 emCalc(16);

      color: darken($color2, 8%);
      font-size: emCalc(24);
    }

  }

}

/* Cta2
 */

.cta-2 {
  margin: 0 0 emCalc(40);
  padding: emCalc(20) 0;
  border-width: 1px 0;
  border-style: solid;
  border-color: darken($colorBg, 8%);

  font-weight: bold;
  text-align: center;

  .btn {
    margin-left: emCalc(12);

    font-weight: bold;
  }
}

/* Blog
*/

.blog-head {
  margin: emCalc(-12) 0 emCalc(20) emCalc(48);

  text-transform: uppercase;
  font-size: emCalc(24);
  font-weight: bold;

  a {
    color: $color2;
  }
}


.list-posts {
  padding: 15px 0 0;
  list-style-type: none;

  > li {
    border-bottom: 1px solid #ccc;
    padding: 0 0 15px;
    margin: 0 0 15px;

    h2 {
      margin: 0 0 emCalc(12);

      font-size: emCalc(32);
    }
  }

}

.post-meta {
  margin: emCalc(8) 0 emCalc(4);
}

.post-meta,
.post-meta a {
  color: darken(#ccc, 20%);
}

.post-summary {
  margin: 0 0 emCalc(20);
}

.post,
.post-summary {
  font-size: emCalc(18);

  img {
    margin: emCalc(8) 0;
  }

  ul,
  p {
    margin-bottom: emCalc(12);
  }
}

.post-title {
  margin: 0 0 emCalc(12);
}

.post-others {
  border-width: 1px 0;
  border-style: solid;
  border-color: #ccc;
  padding: 15px 0;
  margin: 30px 0;

  ul {
    list-style-type: square;

    color: $color1;
  }
}

/* Footer
 */

.copy {
  color: darken($colorBg, 20%);
}

.footer {
  padding: 0 0 emCalc(20);

  font-size: emCalc(14);
}
