<!doctype html>
<html ng-app="autohack">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    Autoquiz
  </title>
  <meta name="description" content="Chestionare auto cu toate intrebarile">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//fonts.googleapis.com/css?family=Orbitron:400,500,700,900" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css">

  <link rel="stylesheet" href="/styles/161d958c.app.css">

</head>
<body ng-controller="TopCtrl">

  <!--[if lt IE 9]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <div class="container-fluid">
    
<div class="row">
  <div class="col-md-2 sidebar">

    <a href="/" class="logo">
      <img src="images/logo-mono.png">
    </a>

    <ul class="nav nav-pills nav-stacked main-nav main-nav-{{ top.shownSubmenu }}">
      <li>
        <a href="#!/">
          Acasă

          <i class="fa fa-home menu-icon"></i>
        </a>
      </li>
      <li class="cat-a">

        <a ng-click="top.ToggleSubmenu('cat-a')">
          Categoria <span class="cat-symbol">A</span>

          <i class="fa fa-angle-down"></i>
        </a>

        <ul class="sub-nav">
          <li>
            <a href="#!/quiz?cat=a">Chestionar</a>
          </li>
          <li>
            <a href="#!/toate-intrebarile?cat=a">Toate intrebarile</a>
          </li>
        </ul>

      </li>
      <li class="cat-b">

        <a ng-click="top.ToggleSubmenu('cat-b')">
          Categoria
          <span class="cat-symbol">B</span>

          <i class="fa fa-angle-down"></i>
        </a>

        <ul class="sub-nav">
          <li>
            <a href="#!/quiz?cat=b">Chestionar</a>
          </li>
          <li>
            <a href="#!/toate-intrebarile?cat=b">Toate intrebarile</a>
          </li>
        </ul>
      </li>
      <li class="cat-c">

        <a ng-click="top.ToggleSubmenu('cat-c')">
          Categoria
          <span class="cat-symbol">C</span>

          <i class="fa fa-angle-down"></i>
        </a>

        <ul class="sub-nav">
          <li>
            <a href="#!/quiz?cat=c">Chestionar</a>
          </li>
          <li>
            <a href="#!/toate-intrebarile?cat=c">Toate intrebarile</a>
          </li>
        </ul>
      </li>
      <li class="cat-d">

        <a ng-click="top.ToggleSubmenu('cat-d')">
          Categoria
          <span class="cat-symbol">D</span>

          <i class="fa fa-angle-down"></i>
        </a>

        <ul class="sub-nav">
          <li>
            <a href="#!/quiz?cat=d">Chestionar</a>
          </li>
          <li>
            <a href="#!/toate-intrebarile?cat=d">Toate intrebarile</a>
          </li>
        </ul>
      </li>
      
      <li>
        <a href="#!/legislatie-rutiera">
          Legislatia Rutiera

          <i class="fa fa-book menu-icon"></i>
        </a>
      </li>
      <li>
        <button class="btn btn-primary btn-reset" ng-click="Reset()">
          <i class="fa fa-undo"></i>

          Reseteaza raspunsurile
        </button>
      </li>

    </ul>

    <!-- <h2 class="nav-title">Filtre</h2>

    <ul class="nav nav-pills nav-stacked filters">

      <li ng-repeat="tag in tags">

        <a href="" ng-class="{true: 'selected', false: ''}[top.model.label.indexOf(tag) > 0]" ng-click="SetLabel(tag)">
          {{tag}}
        </a>

      </li>
    </ul> -->
  </div>

  <div ng-view="" class="app-content col-md-10"></div>
</div>


  </div>
  <script src="/scripts/98f899ea.plugins-app.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-sanitize.js"></script>

  <script src="/scripts/4f5954e1.app.js"></script>
  <!-- KISSmetrics tracking snippet -->
  <script type="text/javascript">var _kmq = _kmq || [];
  var _kmk = _kmk || '4a13f000e909d2680785d855d5cdf9e12ec151b0';
  function _kms(u){
    setTimeout(function(){
      var d = document, f = d.getElementsByTagName('script')[0],
      s = d.createElement('script');
      s.type = 'text/javascript'; s.async = true; s.src = u;
      f.parentNode.insertBefore(s, f);
    }, 1);
  }
  _kms('//i.kissmetrics.com/i.js');
  _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
  </script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-2294103-8', 'auto');
  ga('send', 'pageview');

</script>
<!-- begin olark code -->
<script data-cfasync="false" type="text/javascript">/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
f[z]=function(){
(a.s=a.s||[]).push(arguments)};var a=f[z]._={
},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
0:+new Date};a.P=function(u){
a.p[u]=new Date-a.p[0]};function s(){
a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
b.contentWindow[g].open()}catch(w){
c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
/* custom configuration goes here (www.olark.com/documentation) */
olark.identify('7834-983-10-5449');/*]]>*/</script>
<!-- end olark code -->
</body>
</html>