---
title: Cateva reguli de retinut privind trecerea la nivel cu calea fearata
layout: post.html
posted: 2014-10-09
<!-- picture: /images/blog/post-picture-default.png -->
---


![Distanta dintre marcajele de calea ferata ](../images/autoquiznet-trecerea-la-nivel-cu-calea-ferata.png)

Am numarat 18 intrebari legate de subiectul 'trecere la nivel cu calea ferata' printre intrebarile de la categoria B. Iata cateva idei extrase din intrebari si raspunsuri:

- panourile de semnalizare sunt instalate la 150m, 100m si 50m de calea ferata
- la mai putin de 50m de calea ferata este interzisa intoarcerea si oprirea voluntara a autovehiculului.
- este interzisa depasirea unei coloane oprite la trecerea la nivel cu calea farata
- daca barierele sunt ridicate sutenti obligat sa reduceti viteza si sa va asigurati dar nu trebuie sa opriti. Se considera greseala la examen si riscati sa fiti depunctat
- semnalele luminoase de culoare alba cu cadenta lenta functioneaza doar cand semnalele de culoare rosie sunt stinse
- sunteti obligat sa va conformati semnalelor agentilor cailor ferate. Un caz mai particular: sunteti obligati sa opriti la semnalul executat cu un fanion rosu de catre agentii amplasati la trecerea la nivel cu o cale ferata industriala
- neresepectarea indicatorului oprire instalat la trecerea la nivel cu calea ferata se pedepseste cu puncte de penalizare

Intrebarile si raspunsurile corecte le gasiti in lista autoquiz.net:

1. <a href="/app.html#!/intrebare?cat=b&id=5" trget="_blank">Cand este permisa trecerea la nivel cu o cale ferata fara bariere, prevazuta cu semnalizare luminoasa, daca tocmai a trecut un tren?</a>
2. <a href="/app.html#!/intrebare?cat=b&id=91">In care dintre urmatoarele situatii sunteti obligat sa circulati cu viteza redusa?</a>
3. <a href="/app.html#!/intrebare?cat=b&id=170">Semnalul luminos intermitent de culoare alba, avand cadenta lenta, functioneaza:</a>
4. <a href="/app.html#!/intrebare?cat=b&id=315">Este interzisa oprirea voluntara:</a>
5. <a href="/app.html#!/intrebare?cat=b&id=398">Ce obligatii aveti la semnalele agentilor cailor ferate, plasati la trecerea la nivel cu o cale ferata?</a>
6. <a href="/app.html#!/intrebare?cat=b&id=407">In care dintre situatii sunteti obligat sa reduceti viteza?</a>
7. <a href="/app.html#!/intrebare?cat=b&id=408">Intoarcerea unui autovehicul este interzisa:</a>
8. <a href="/app.html#!/intrebare?cat=b&id=446">Se aplica puncte de penalizare pentru:</a>
9. <a href="/app.html#!/intrebare?cat=b&id=461">In care dintre situatiile prezentate mai jos nu este permisa oprirea voluntara a vehiculelor?</a>
10. <a href="/app.html#!/intrebare?cat=b&id=471">Autoturismul rosu poate depasi in situatia data?</a>
11. <a href="/app.html#!/intrebare?cat=b&id=490">Oprirea voluntara a vehiculelor este interzisa:</a>
12. <a href="/app.html#!/intrebare?cat=b&id=583">In ce situatii este interzisa depasirea unei biciclete?</a>
13. <a href="/app.html#!/intrebare?cat=b&id=591">Punctele de penalizare se aplica pentru:</a>
14. <a href="/app.html#!/intrebare?cat=b&id=632">La ce distanta de trecerea la nivel cu calea ferata sunt instalate panourile suplimentare de avertizare?</a>
15. <a href="/app.html#!/intrebare?cat=b&id=674">Cum trebuie sa procedeze conducatorul unui autovehicul la trecerea la nivel cu calea ferata, atunci cand barierele sunt ridicate?</a>
16. <a href="/app.html#!/intrebare?cat=b&id=729">Daca la trecerea la nivel cu calea ferata constatati ca un vehicul este imobilizat pe calea ferata, cum veti proceda?</a>
17. <a href="/app.html#!/intrebare?cat=b&id=836">Semnalul agentilor cailor ferate, executat cu un fanion rosu, aflati la trecerea la nivel cu o cale ferata industriala din orase, va obliga:</a>
18. <a href="/app.html#!/intrebare?cat=b&id=956">Ce obligatii aveti la trecerea la nivel cu calea ferata curenta prevazuta cu bariere, daca acestea sunt ridicate?</a>