---
title: nr.1 Pentru care dintre faptele de mai jos se aplica masura retinerii permisului de conducere?
layout: post.html
posted: 2015-08-19
<!-- picture: /images/blog/post-picture-default.png -->
---

<div class="quiz-question">

  <div class="image">
    
    <img src="../images/1423.jpg" alt="">

  </div>

  <ol class="answers">
    
    <li class="selected">A. pentru neoprirea la semnalul regulamentar al politistului</li>
    
    <li class="selected">B. pentru nerespectarea dispozitiilor legale referitoare la depasire</li>
    
    <li>C. pentru nerespectarea normelor privind folosirea luminilor pe timp de noapte</li>
  
  </ol>

  <div id="disqus_thread"></div>
 
  <script type="text/javascript">
      var disqus_shortname = 'autoquiz';
      var disqus_title = '#1 Pentru care dintre faptele de mai jos se aplica masura retinerii permisului de conducere?';
      var disqus_id = '1';
      
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

</div>