<div class="dashboard">
	<h1>Dashboard</h1>

	<div class="row questions-statistics">
		<div class="col-md-3" ng-show="model.a.corect + model.a.incorect > 0">
			<h5><strong>Categoria A</strong> <span>{{model.a.total}} intrebari</span>:</h5>
			<dl>
				<dt>Raspunsuri corecte: </dt>
				<dd>{{model.a.corect}}</dd>
				<dt>Raspunsuri gresite:</dt>
				<dd>{{model.a.incorect}}</dd>
				<dt>Total parcurse: </dt>
				<dd>{{ model.a.corect + model.a.incorect }}</dd>
			</dl>
		</div>
		<div class="col-md-3" ng-show="model.b.corect + model.b.incorect > 0">
			<h5><strong>Categoria B</strong> <span>{{model.b.total}} intrebari</span>:</h5>
			<dl>
				<dt>Raspunsuri corecte: </dt>
				<dd>{{model.b.corect}}</dd>
				<dt>Raspunsuri gresite:</dt>
				<dd>{{model.b.incorect}}</dd>
				<dt>Total parcurse: </dt>
				<dd>{{ model.b.corect + model.b.incorect }}</dd>
			</dl>
		</div>
		<div class="col-md-3" ng-show="model.c.corect + model.c.incorect > 0">
			<h5><strong>Categoria C</strong> <span>{{model.c.total}} intrebari</span>:</h5>
			<dl>
				<dt>Raspunsuri corecte: </dt>
				<dd>{{model.c.corect}}</dd>
				<dt>Raspunsuri gresite:</dt>
				<dd>{{model.c.incorect}}</dd>
				<dt>Total parcurse: </dt>
				<dd>{{ model.c.corect + model.c.incorect }}</dd>
			</dl>
		</div>
		<div class="col-md-3" ng-show="model.d.corect + model.d.incorect > 0">
			<h5><strong>Categoria D</strong> <span>{{model.d.total}} intrebari</span>:</h5>
			<dl>
				<dt>Raspunsuri corecte: </dt>
				<dd>{{model.d.corect}}</dd>
				<dt>Raspunsuri gresite:</dt>
				<dd>{{model.d.incorect}}</dd>
				<dt>Total parcurse: </dt>
				<dd>{{ model.d.corect + model.d.incorect }}</dd>
			</dl>
		</div>
	</div>

</div>