<div class="legis col-md-8">
  <h1>Codul Rutier 2014</h1>
  
  <div class="search row">
    <div class="col-md-6">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Cautare Codul Rutier" ng-model="model.search">
        <span class="fa fa-search"></span>
      </div>
    </div>
  </div>

  <div class="chapters" ng-repeat="chapters in model.legis">
    <h2>{{chapters.content}}</h2>

    <div class="level1" ng-repeat="level1 in chapters.level1 | filter:model.search">
      <h3>{{level1.content}}</h3>

      <ul class="level2">
        
        <li ng-repeat="level2 in level1.level2 | filter:model.search">
          {{level2.content}}

          <ul class="level3">
            
            <li ng-repeat="level3 in level2.level3 | filter:model.search">

              {{level3.content}}

              <ul class="level4">
                
                <li ng-repeat="level4 in level3.level4 | filter:model.search">
                  
                  {{level4.content}}

                  <ul class="level5">

                    <li ng-repeat="level5 in level4.level5 | filter:model.search">
                      
                      {{level5.content}}

                    </li>                    

                  </ul>

                </li>

              </ul> <!-- level4 -->

            </li>

          </ul> <!-- level3 -->

        </li>

      </ul> <!-- level2 -->
      
    </div>
  </div>
</div>