<div class="quiz-question" ng-class="{'hide': model.splash}">

  <div class="toolbar" ng-show="model.quizmode">
    <div class="separator">
      <span>Total: </span>
      <span>{{model.statistics.total}}</span>
    </div>

    <div class="separator">
      <span>Ramase: </span>
      <span>{{model.statistics.left}}</span>
    </div>

    <div class="separator">
      <span class="fa fa-check"></span>
      <span>Raspunsuri corecte: </span>
      <span>{{model.statistics.corect.length || 0}}</span>
    </div>

    <div class="separator">
      <span class="fa fa-times"></span>
      <span>Raspunsuri gresite: </span>
      <span>{{model.statistics.incorect.length || 0}}</span>
    </div>

    <div class="separator">
      <span class="fa fa-clock-o"></span>
      <strong>{{model.timer.minutes}}:{{model.timer.seconds}}</strong>
    </div>

  </div>

  <h2 class="question">
    <span class="question-index" ng-show="model.quizmode">{{model.question.tempId}}</span>

    {{model.question.q}}
    
    <span
      class="fa"
      ng-click="MarkQuestion()"
      ng-class="{'fa-star-o': model.question.tags.indexOf('mark') < 0, 'fa-star': model.question.tags.indexOf('mark') >= 0}"
      
      data-placement="right" data-animation="am-flip-x" data-trigger="hover" bs-popover="popover" data-html="true"
      >
    </span>
  </h2>


  <div class="image">
    <img ng-src="images/{{model.question.p}}" ng-show="model.question.p">
  </div>

  <ol class="answers">
    <li ng-click="SetAnswer('a')" ng-class="{'selected':model.answers.a}">A. {{model.question.a}}</li>
    <li ng-click="SetAnswer('b')" ng-class="{'selected':model.answers.b}">B. {{model.question.b}}</li>
    <li ng-click="SetAnswer('c')" ng-class="{'selected':model.answers.c}">C. {{model.question.c}}</li>
  </ol>


  <div class="set-answers">
    <a class="btn btn-default btn-lg" ng-click="SetAnswer('a')" ng-class="{'btn-primary':model.answers.a}">A</a>
    <a class="btn btn-default btn-lg" ng-click="SetAnswer('b')" ng-class="{'btn-primary':model.answers.b}">B</a>
    <a class="btn btn-default btn-lg" ng-click="SetAnswer('c')" ng-class="{'btn-primary':model.answers.c}">C</a>
  </div>

  <div class="buttons">
    <a class="prev" href="" ng-click="PrevQuestion()" ng-show="model.id > 1 && !model.quiz" >
      <span class="fa-chevron-left fa"></span>
    </a>

    <a class="btn btn-default" href="" ng-click="AnswerLater()" ng-show="model.quizmode">Raspund mai tarziu</a>
    
    <a class="btn btn-primary" href="" ng-click="ValidateAnswer()">Trimite Raspuns</a>

    <a class="next" href="" ng-click="NextQuestion()" ng-show="!model.quiz">
      <span class="fa-chevron-right fa"></span>
    </a>
  </div>

  <div class="row">

    <div class="col-md-6 col-md-offset-3 center-text">
      <a href="" ng-show="!model.quizmode" ng-click="ShowRightAnswers()" class="text-muted">Arata raspuns corect</a>
      <div class="alert-custom" ng-show="model.alert" ng-class="{'alert-custom-danger': !model.valid, 'alert-custom-success': model.valid }">
        
        <p ng-if="!model.valid">Raspuns incorect. <span ng-if="model.valid === ''">Va rugam selectati cel putin un raspuns</span></p>
        <p ng-if="model.valid">Raspuns corect.</p>
        
        

      </div>
    </div>
  </div>
  
  <div class="disqus" ng-hide="model.quizmode">
    
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <dir-disqus disqus-shortname="autoquiz"
                 disqus-identifier="{{ model.disqus.id }}"
                 disqus-url="{{ model.disqus.url }}">
        </dir-disqus>
      </div>
    </div>

  </div> <!-- disqus -->
</div> <!-- question -->

<div class="splash" ng-show="model.splash">
  <h1 ng-if="model.quizValid">Ati fost declarat ADMIS la examenul teoretic</h1>
  <h1 ng-if="!model.quizValid">Ati fost declarat RESPINS la examenul teoretic</h1>
  


  <h3 ng-show="model.statistics.corect.length">Intrebari la care ati raspuns corect</h3>
  <ul ng-show="model.statistics.corect.length">
    <li ng-repeat="answer in model.statistics.corect track by $index">
      <a href="#!/intrebare?cat={{model.category}}&id={{answer.id}}">{{answer.q}}</a>
    </li>
  </ul>

  <h3 ng-show="model.statistics.incorect.length">Intrebari la care ati raspuns gresit</h3>
  <ul ng-show="model.statistics.incorect.length">
    <li ng-repeat="answer in model.statistics.incorect track by $index">
      <a href="#!/intrebare?cat={{model.category}}&id={{answer.id}}">{{answer.q}}</a>
    </li>
  </ul>
  <a href="" class="btn btn-primary" ng-click="NewQuiz()">Chestionar nou</a>
</div>

