---
layout: app.html
---
<div class="row">
  <div class="col-md-2 sidebar">

    <a href="/" class="logo">
      <img src="images/logo-mono.png">
    </a>

    <ul class="nav nav-pills nav-stacked">
      <li>
        <a href="#/">Home</a>
      </li>
      <li>
        <a href="">Categoria A</a>
        <ul class="sub-nav">
          <li>
            <a href="#/quiz?cat=a">Chestionar</a>
          </li>
          <li>
            <a href="#/toate-intrebarile?cat=a">Toate intrebarile</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="">Categoria B</a>
        <ul class="sub-nav">
          <li>
            <a href="#/quiz?cat=b">Chestionar</a>
          </li>
          <li>
            <a href="#/toate-intrebarile?cat=b">Toate intrebarile</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="">Categoria C</a>
        <ul class="sub-nav">
          <li>
            <a href="#/quiz?cat=c">Chestionar</a>
          </li>
          <li>
            <a href="#/toate-intrebarile?cat=c">Toate intrebarile</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="">Categoria D</a>
        <ul class="sub-nav">
          <li>
            <a href="#/quiz?cat=d">Chestionar</a>
          </li>
          <li>
            <a href="#/toate-intrebarile?cat=d">Toate intrebarile</a>
          </li>
        </ul>
      </li>
      
      <li>
        <a href="#/legislatie-rutiera">Legislatia Rutiera</a>
      </li>
      <li>
        <a class="btn btn-default">Reseteaza raspunsurile</a>
      </li>
    </ul>

    <!-- <h2 class="nav-title">Filtre</h2>

    <ul class="nav nav-pills nav-stacked filters">

      <li ng-repeat="tag in tags">

        <a href="" ng-class="{true: 'selected', false: ''}[top.model.label.indexOf(tag) > 0]" ng-click="SetLabel(tag)">
          \{{tag}}
        </a>

      </li>
    </ul> -->
  </div>

  <div ng-view class="app-content col-md-10"></div>
</div>

