---
layout: site.html
title: 'Codul Rutier 2013'
---

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-4">
      <div style="text-align: justify;"><h1>NOUL COD RUTIER 2013</h1>
      <div style="margin-bottom: 20px;">Legea nr. 203/2012 pentru modificarea si completarea Ordonantei de urgenta a Guvernului nr. 195/2002 privind circulatia pe drumurile publice a fost publicata in Monitorul Oficial, Partea I, nr. 760, din 12 noiembrie 2012.</div>
      <div style="margin-left: 0px; font-family: Arial; font-size: 12px; display: block; padding: 2px; "><h3>Capitolul I - Dispozitii generale</h3></div>
      <div style="margin-left: 35px; font-family: Arial; font-size: 12px; display: block; padding: 2px; ">Art.1.</div>
      <div style="margin-left: 70px; font-family: Arial; font-size: 12px; display: block; padding: 2px; ">(1) Circulatia pe drumurile publice a vehiculelor, pietonilor si a celorlalte categorii de participanti la trafic, drepturile, obligatiile si raspunderile care revin persoanelor fizice si juridice, precum si atributiile unor autoritati ale administratiei publice, institutii si organizatii sunt supuse dispozitiilor prevazute în prezenta ordonanta de urgenta.</div>
      <div style="margin-left: 70px; font-family: Arial; font-size: 12px; display: block; padding: 2px; ">(2) Dispozitiile prevazute în prezenta ordonanta de urgenta au ca scop asigurarea desfasurarii fluente si în siguranta a circulatiei pe drumurile publice, precum si ocrotirea vietii, integritatii corporale si a sanatatii persoanelor participante la trafic sau aflate în zona drumului public, protectia drepturilor si intereselor legitime ale persoanelor respective, a proprietatii publice si private, cât si a mediului.</div>
      <div style="margin-left: 70px; font-family: Arial; font-size: 12px; display: block; padding: 2px; ">(3) Autoritatea competenta în domeniul circulatiei pe drumurile publice privind initierea si avizarea unor reglementari, precum si aplicarea si exercitarea controlului privind respectarea normelor din acest domeniu este Ministerul Administratiei si Internelor, prin Inspectoratul General al Politiei Române.</div>
      <div style="margin-left: 70px; font-family: Arial; font-size: 12px; display: block; padding: 2px; ">(4) Reglementarile privind circulatia pe drumurile publice se emit, dupa caz, de catre autoritatile publice centrale sau locale cu atributii în acest domeniu, numai cu avizul Inspectoratului General al Politiei Române si cu respectarea acordurilor si conventiilor internationale la care România este parte.</div>
      <div style="margin-left: 70px; font-family: Arial; font-size: 12px; display: block; padding: 2px; ">(5) Prevederile prezentei ordonante de urgenta se aplica tuturor participantilor la trafic, precum si autoritatilor care au atributii în domeniul circulatiei si sigurantei pe drumurile publice, precum si în domeniul protectiei mediului.</div>
      <div style="margin-left: 35px; font-family: Arial; font-size: 12px; display: block; padding: 2px; margin-top: 10px;">Art.2.</div>
      <div style="margin-left: 70px; font-family: Arial; font-size: 12px; display: block; padding: 2px; ">Îndrumarea, supravegherea si controlul respectarii normelor de circulatie pe drumurile publice se fac de catre politia rutiera din cadrul Inspectoratului General al Politiei Române, care are obligatia sa ia masurile legale în cazul în care constata încalcari ale acestora.</div>
      <div style="margin-left: 35px; font-family: Arial; font-size: 12px; display: block; padding: 2px; margin-top: 10px;">Art.3.</div>
      <div style="margin-left: 70px; font-family: Arial; font-size: 12px; display: block; padding: 2px; ">Circulatia pe drumurile publice din zona de frontiera si din alte zone pentru care, potrivit legii, s-au stabilit restrictii se face cu respectarea reglementarilor instituite pentru acele zone.</div>
      <div style="margin-left: 35px; font-family: Arial; font-size: 12px; display: block; padding: 2px; margin-top: 10px;">Art.4.</div>
      <div style="margin-left: 70px; font-family: Arial; font-size: 12px; display: block; padding: 2px; ">Controlul circulatiei vehiculelor apartinând institutiilor din sistemul de aparare, ordine publica si siguranta nationala se efectueaza de catre politia rutiera, precum si de personalul desemnat de catre aceste institutii.</div>
      <div style="margin-left: 35px; font-family: Arial; font-size: 12px; display: block; padding: 2px; margin-top: 10px;">Art.5.</div>
    </div>
  </div>
</div>
