---
layout: site.html
title: ''
---

<div class="container-narrow">

  <header class="row header">

    <div class="col-sm-6">

      <a href="/" class="logo-site">
        <img src="images/logo.png" alt="AutoQuiz">
      </a>

    </div>

    <div class="col-sm-6">

      <ul class="list-inline pull-right">
        <li>
          <a href="mailto:contact@autoquiz.net">
            Contact
          </a>
        </li>
      </ul>

    </div>

  </header>

  <div class="jumbotron promo-home">
    <h1>
      Invață rapid pentru examenul auto.
    </h1>
    <p class="lead">
      Chestionare auto inteligente care te ajută cu adevărat.
    </p>
    <p>
      <a class="btn btn-lg btn-primary" href="app.html#/quiz?cat=b" role="button">
        <i class="fa fa-check-circle-o"></i>

        Începe chestionar cat. B!
      </a>
    </p>
  </div>

  <div class="row features">

    <div class="col-sm-4 feature-box">

      <i class="fa fa-list"></i>

      <!-- <h4>
        Marcare întrebări
      </h4>
      <p>
        AutoQuiz îți permite să marchezi întrebările importante sau la care ai probleme, pentru a putea revenii rapid la ele.
      </p> -->

      <h4>
        Toate intrebarile
      </h4>
      <p>
        AutoQuiz conține toate întrebările de la toate categoriile auto. Intrebări, răspunsuri și informații utile.
      </p>

    </div>

    <div class="col-sm-4 feature-box">

      <i class="fa fa-sort-amount-asc"></i>

      <h4>
        Unde ai rămas
      </h4>
      <p>
        Sistemul nostru reține intrebarea la care ai ramas, chiar dacă ai inchis browserul.
      </p>

    </div>

    <div class="col-sm-4 feature-box">

      <i class="fa fa-bar-chart"></i>

      <h4>
        Statistici
      </h4>
      <p>
        Toate intrebările greșite, sau corecte, sunt reținute de AutoQuiz, astfel poți observa cu ușurință la care ai probleme.
      </p>

    </div>

  </div>

  <div class="row cta-2">

    <div class="col-sm-12">

      Incearca acum un chestionar rapid

      <a href="app.html#/quiz?cat=b" class="btn btn-success">
        Incepe chestionar cat. B!
      </a>

    </div>

  </div>

  <footer class="row footer">

    <div class="col-xs-6">

      <ul class="list-inline">
        <li>
          <a href="mailto:contact@autoquiz.net">
            Contact
          </a>
        </li>
      </ul>

    </div>

    <div class="col-xs-6">

      <p class="copy pull-right">
        © 2014 AutoQuiz.net.
      </p>

    </div>

  </footer>

</div>
